body {
  font-family: sans-serif;
  background-color: #f0f0f0;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #238773;
  text-align: center;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

nav .dropdown {
  position: relative;
  width: 100px;
  font-size: 16px;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

.dropdown .button {
  width: 100%;
}

nav .dropdown-menu {
  display: none;
  position: absolute;
  width: 100%;
  top: 100%;
}

nav .dropdown:hover .dropdown-menu {
  display: block;
}

nav .dropdown-menu a {
  color: #fff;
  width: 100%;
  text-decoration: none;
  display: block;
  padding: 10px 10px;
}

nav .button {
  all: unset;
  font-family: Arial, sans-serif;
  font-size: 16px;
  padding: 10px;
  border-radius: 3px;
  color: #fff;
  width: 98px;
  text-decoration: none;
  background-color: #238773;
  transition: background-color 0.3s ease;
}

nav .button:hover {
  background-color: #26957f;
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

nav a:hover {
  background-color: #26957f;
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

main {
  text-align: left;
  margin: 20px auto;
  max-width: 800px;
  margin-top: 60px;
}

p {
  color: rgb(21, 70, 74);
  line-height: 1.5;
  margin-bottom: 20px;
}

button {
  font-size: 16px;
  background-color: rgb(255, 255, 255);
  border: 2px solid #50d2b8;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #50d2b8;
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
.del-button {
  font-size: 16px;
  background-color: rgb(255, 255, 255);
  border: 2px solid #d22b2b;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.del-button:hover {
  background-color: #d22b2b;
  color: #fff;
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
h1 {
  color: #4caf50;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

h2 {
  text-align: center;
  color: rgb(21, 70, 74);
  margin-bottom: 10px;
}

h3 {
  color: #238773;
  margin-bottom: 10px;
}

ol {
  margin-left: 20px;
}

li {
  color: #000000;
  margin-bottom: 10px;
}

li label {
  margin-left: 20px;
}
.container {
  text-align: center;
  margin: 20px auto;
  max-width: 800px;
  margin-top: 70px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.form input {
  margin: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
}

.button-row {
  margin-top: 20px;
}

.q-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.profile {
  border-radius: 50%;
}

.g-container {
  margin-top: 20px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.quiz-container li {
  list-style: none;
  margin-bottom: 10px;
}

.container {
  margin-top: 90px;
  max-width: 800px;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 5px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

.shadow-box {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.details-container {
  margin-top: 10px;
}

h1,
h2,
h3,
label {
  margin: 0;
  padding: 0;
}

.quiz-container {
  display: block;
}

.signup-field input[type="checkbox"] {
  display: none;
}

.signup-field label {
  cursor: pointer;
}

.signup-field input[type="checkbox"] + label:before {
  content: "\2610";
  margin-right: 5px;
}

.signup-field input[type="checkbox"]:checked + label:before {
  content: "\2611";
}

.admin-passcode-container {
  display: none;
}

.signup-field input[type="checkbox"]:checked ~ .admin-passcode-container {
  display: block;
}
.addQuiz form {
  flex-direction: column;
  align-items: center;
}

.addQuiz label {
  flex-direction: row;
  font-weight: bold;
  color: #238773;
}

.addQuiz .input {
  width: 80%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.question hr {
  margin: 10px 0;
  border: solid 2px;
  border-top: 1px solid #ccc;
}

.addQuiz input[type="text"] {
  width: 100%;
  padding: 5px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.fail {
  background-color: #ffecec;
  border-style: solid;
  border-color: red;
}

.pass {
  background-color: #ecfff9;
  border-style: solid;
  border-color: green;
}
