nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #238773;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: #26957F;
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  height: 20px;
}

h1 {
  color: #238773;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

h3 {
  color: #008080;
  text-align: center;
  margin-bottom: 10px;
}

button {
  font-size: 16px;
  background-color: #238773;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px auto;
  max-width: 800px;
  height : 80px;
  margin-bottom: 20px;
}

button:hover {
  background-color: #50D2B8;
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}








