<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::title}, ~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>about</title>
</head>
<body>
<section>
    <main>
        <h1>About QuizzyTron</h1>
        <p>Welcome to QuizzyTron, your go-to destination for attending various quizzes and challenging your knowledge.
            Our platform offers a wide range of quizzes that cater to different interests and subjects, ensuring there's
            something for everyone.</p>

        <h2>Mission and Vision</h2>
        <p>Our mission is to provide an engaging and educational platform where users can learn, have fun, and test
            their knowledge through interactive quizzes. We aim to promote continuous learning and make it accessible to
            people of all ages and backgrounds.</p>

        <h2>Future Updates</h2>
        <ul>
            <li>Update name and Data</li>
            <li>Delete account</li>
        </ul>

        <h2>How It Works</h2>
        <p>Participating in quizzes on QuizzyTron is easy:</p>
        <ol>
            <li>Browse the quiz categories or search for a specific topic.</li>
            <li>Select a quiz that interests you.</li>
            <li>Answer the quiz questions.</li>
            <li>Submit your answers and see your results.</li>
        </ol>

        <h1>Developer</h1>
        <h2 style="color: red;">Shirish Jaiswal</h2>

        <h2>Join the Fun!</h2>
        <div style="text-align: center;">
            <button onclick="location.href='https://www.linkedin.com/in/shirish-jaiswal'" class="button">Contact</button>
        </div>
        <input type="hidden" th:value="${userName}" th:name="userName">
        <input type="hidden" th:value="${token}" th:name="token">
    </main>
</section>
</body>
</html>