<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(title, content)">
<head>
    <meta charset="UTF-8">
    <title th:replace="${title}">title</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<nav>
    <form th:if="${userName != null and token != null}" th:action="@{/user/}" method="POST">
        <input type="hidden" id="userName" name="userName" th:value="${userName}" />
        <input type="hidden" id="token" name="token" th:value="${token}" />
        <button type="submit" class="button">Home</button>
    </form>
    <a th:if="${userName == null}" href="/" class="button">Home</a>
    <a href="about" class="button">About</a>
    <div class="dropdown">
        <a th:href="${userName != null and token != null} ? @{/user/profile(userName=${userName}, token=${token})} : '/'" class="button" th:text="${userName} ?: 'User'">User</a>
        <div class="dropdown-menu">
            <form th:if="${userName != null and token != null}" th:action="@{/logout(userName=${userName}, token=${token})}" th:method="${userName != null and token != null} ? 'POST' : 'GET'">
                <button type="submit" class="button">Log Out</button>
            </form>
        </div>
    </div>
</nav>
<div th:replace="${content}"></div>
</body>
</html>

