<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<input type="hidden" id="authToken" th:value="${authToken}" name="authToken" />
<nav>
    <a th:href="@{/index.html}" class="button">Home</a>
    <a href="#" class="button">About</a>
    <a th:href="@{https://www.linkedin.com/in/shirish-jaiswal/}" class="button">Contact</a>
    <a th:href="@{/index.html}" class="button" >Logout</a>
</nav>
<div class="container">
    <img th:src="@{/checked.png}" alt="loggedIn Logo" height="100px" class="signup-logo"/>
    <h1>Login Successful</h1>
    <p>Welcome, <b th:text="${userName}"></b></p>
    <p>You have successfully logged in to the Quiz Web App</p>
    <p>Start exploring the quiz categories and have fun!</p>
    <form th:action="@{/admin/quizz}" method="get">
        <div class="button-row">
            <button type="submit" class="button" id="submitButton">Go to Quiz Categories</button>
        </div>
    </form>
</div>
</body>
</html>