<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{base::layout(~{::title}, ~{::section})}"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:text="${pageTitle}"></title>
  </head>
  <body>
    <section>
      <div class="container">
        <img
                th:src="${imageURL}"
          alt="image Logo"
          height="100px"
          class="image"
        />
        <br /><br /><br />
        <h1 th:style="'color: ' + ${textColor}"
            th:text="${operation}"></h1>
        <div class="grid">
          <div
            th:if="${quizzes == null or quizzes.size() == 0}"
            class="details-container"
          >
            <br />
            <h3>No Quiz For Now</h3>
            <br />
            <img
              style="display: block; margin: 0 auto"
              th:src="@{/wip.png}"
              alt="login Logo"
              height="100px"
              class="logo"
            /><br />
            <b>!! Work in Progress !!</b>
          </div>
          <div th:each="quiz : ${quizzes}" class="g-container">
            <br />
            <div class="details-container">
<!--              Delete Quiz-->
              <form th:if="${pageTitle == 'Delete Quiz'}"
                    th:action="@{'/admin/delQuiz/' + ${quiz}}"
                    method="post">
                <input type="hidden" th:value="${userName}" th:name="userName" />
                <input type="hidden" th:value="${token}" th:name="token" />
                <button style="width: 50%; height: 100%; margin-bottom: 20px" type="submit"
                        class="del-button">
                  <th:block th:utext="${quiz}"></th:block>
                </button>
              </form>
<!--              select quiz-->
              <form th:if="${pageTitle == 'Select Quiz'}"
                    th:action="@{'/user/getQuestions/' + ${quiz}}"
                    method="post">
                <input type="hidden" th:value="${userName}" th:name="userName" />
                <input type="hidden" th:value="${token}" th:name="token" />
                <button style="width: 50%; height: 100%; margin-bottom: 20px" type="submit"
                        class="button">
                  <th:block th:utext="${quiz}"></th:block>
                </button>
              </form>
<!--              Quiz Details-->
              <form th:if="${pageTitle == 'Quiz Details'}"
                    th:action="@{'/admin/getQuizDetails/' + ${quiz}}"
                    method="post">
                <input type="hidden" th:value="${userName}" th:name="userName" />
                <input type="hidden" th:value="${token}" th:name="token" />
                <button style="width: 50%; height: 100%; margin-bottom: 20px" type="submit"
                        class="button">
                  <th:block th:utext="${quiz}"></th:block>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
