<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::title}, ~{::section})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main</title>
</head>
<body>
<section>
    <div class="container">
        <img th:src="${imageURL}" alt="img" height="100px" class="img logo"/></br>
        <h1 th:style="'color: ' + ${textColor}" id="noteOne" th:text="${noteOne}"></h1></br>
        <h3 id="noteTwo" th:text="${noteTwo}"></h3></br>
        <h3> If you have any questions or need assistance, please don't hesitate to contact our support team."</h3>
        <h3> Thank you</h3>
    </div>
    <footer>
        <p style="text-align: center;"> &copy; 2023 QuizzyTron. All rights reserved.</p>
    </footer>
</section>
</body>

</html>