<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{base::layout(~{::title}, ~{::section})}"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quiz</title>
  </head>
  <body>
    <section>
      <div class="container">
        <h1 th:text="${quizName}">Quiz</h1>
        <br />
        <form action="/user/verify" method="post">
          <input
            type="hidden"
            id="userName"
            th:value="${userName}"
            th:name="userName"
          />
          <input type="hidden" id="token" th:value="${token}" th:name="token" />
          <input
            type="hidden"
            id="quizName"
            th:value="${quizName}"
            name="quizName"
          />
          <ol style="list-style-position: inside">
            <div
              th:each="question : ${questionsList}"
              class="que-container"
              style="text-align: left"
            >
              <li>
                <b style="text-size: 24" th:text="${question.question}"></b>
                <div class="answer-container">
                  <label>
                    <input
                      type="radio"
                      th:name="${question.id}"
                      th:value="${question.optOne}"
                      required
                    />
                    <span th:text="${question.optOne}"></span> </label
                  ><br />
                  <label>
                    <input
                      type="radio"
                      th:name="${question.id}"
                      th:value="${question.optTwo}"
                      required
                    />
                    <span th:text="${question.optTwo}"></span> </label
                  ><br />
                  <label>
                    <input
                      type="radio"
                      th:name="${question.id}"
                      th:value="${question.optThree}"
                      required
                    />
                    <span th:text="${question.optThree}"></span> </label
                  ><br />
                  <label>
                    <input
                      type="radio"
                      th:name="${question.id}"
                      th:value="${question.optFour}"
                      required
                    />
                    <span th:text="${question.optFour}"></span> </label
                  ><br />
                </div>
                <br />
              </li>
            </div>
          </ol>
          <button type="submit" class="button" id="submitButton">Submit</button>
        </form>
      </div>
    </section>
  </body>
</html>
