<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::title}, ~{::section})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile</title>
</head>
<style>
</style>
<body>
<section>
    <input type="hidden" id="userName" th:value="${userName}" th:name="userName">
    <input type="hidden" id="token" th:value="${token}" th:name="token">
    <div class="container">
        <img th:src="@{/profile.png}" alt="loggedIn Logo" height="100px" class="profile"/>
        <h1 th:text="${#strings.toUpperCase(userName)}"></h1></br>
        <h2>Quiz Attended</h2>
        <div class="grid">
            <div th:if="${quizList == null or quizList.size() == 0}">
                </br>
                <h3>No Quiz Attended</h3>
                </br>
                <b>!! Start Your Journey Now !!</b>
            </div>
            <div th:each="quiz : ${quizList}" class="g-container">
                <li>
                    <b th:text="${quiz.quizName}"></b>
                    <div class="details-container">
                        <label>
                            Quiz Attended on :
                            <span th:text="${quiz.date}"></span>
                        </label></br>
                        <label>
                            Marks Obtained :
                            <span th:text="${quiz.marks}"></span>
                        </label>
                    </div>
                </li>
            </div>
        </div>
    </div>
</section>
</body>
</html>
